<div fxLayout="row" fxLayoutAlign="space-around center">
<mat-card class="home-card">
  <mat-card-header>
    <div mat-card-avatar><img mat-card-image src="../assets/logo.png" alt="Photo du logo"></div>
    <mat-card-title>Uncolored World</mat-card-title>
    <mat-card-subtitle>Le jeu !</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/chargement.png" alt="Photo du jeu">
  <mat-card-content>
    <p>
      Uncolored World va revolutionner votre vie ! Ce jeu a entierement été développé par une équipe très fleurie, composée de 6 membres.
    </p>
  </mat-card-content>
</mat-card>
</div>


